*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Vavication */

nav{
    display: flex;
    height: 110px;
    width: auto;
    /* border: 2px solid red; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: sticky;
    background-color: white;
    top: 0px;
    color: #445599;
}
#logo{
    margin: 20px 80px;
}

#logo>img{
    height: 65px;
    width: 290px;
}

#content{
    display: flex;
    margin-left: 345px;
    margin-top: 30px;
}
.content{
    height: 10px;
    width: auto;
    margin: 10px 10px;
}
a{
    text-decoration: none;
}

/* Middle content */

#mid{
    height: 100%;
    width: auto;
    display: flex;
    /* border: 2px solid red; */
}

aside{
    /* border: 3px solid rgb(0, 0, 0); */
    height: 100%;
    width: 50%;
}
aside img{
    height: 720px;
    width: 720px    ;
}
article{
    /* border: 5px solid red; */
    height: 730px;
    width: 100%;
    background-color: #f3a60d;
}

#form>h1{
    text-align: center;
    padding-top: 12%;
    color: #eaf4f6;
    font-size: 42px;
    font-family: ui-monospace;
    padding-bottom: 6%;
}
#form1>div{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
    color: #eaf4f6;
}
#name,#phone,select{
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-top: none;
    border-left:none ;
    border-right:none ;
    border-bottom: 2px solid #eaf4f6;
    background-color: #f3a60d;
    color: #eaf4f6;
}
input::placeholder{
    color: #eaf4f6;
}
#submit{
    height: 50px;
    background-color:#eaf4f6;
    color: #445599;
    font-size: 20px;
    width: 40%;
    margin-top : 8%;
    border: none;
    margin-left: 30%;
}







/* Footer */
#con{
    height: 230px;
    width: auto;
    /* border: 2px solid; */
    text-align: center;
    padding-top: 80px;
}
#con img{
    height: 50px;
    width: 50px;
}
#con p{
    padding-top: 30px;
    color: #3d94d8;
}